{% extends "base.html" %}

{% block title %}
Авторизация
{% endblock title %}

{% block content %}
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <form class="mb-md-5 mt-md-4 pb-5" method='POST' action="{% url 'login' %}">
                {% csrf_token %}
  
                <h2 class="fw-bold mb-2 text-uppercase">Вход</h2>
                <p class="text-white-50 mb-5">Пожалуйста, введите свой логин и пароль!</p>
  
                <div data-mdb-input-init class="form-outline form-white mb-4">
                  {{ form.username }}
                </div>
  
                <div data-mdb-input-init class="form-outline form-white mb-4">
                  {{ form.password }}
                </div>
  
                <input class="btn btn-outline-light btn-lg px-5" type="submit" value='Войти'>
  
            </form>
  
              <div>
                <p class="mb-0">Нет аккаунта? <a href="{% url 'register' %}" class="text-white-50 fw-bold">Зарегистрироваться</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block domready %}
const classes = ['form_control', 'form-control-lg']
const username = document.getElementById('id_username')
username.placeholder = 'Имя пользователя'
username.classList.add(...classes)
const password = document.getElementById('id_password')
password.classList.add(...classes)
password.placeholder = 'Пароль'
{% endblock domready %}