{% extends "base.html" %}

{% load static %}

{% block title %}О нас{% endblock title %}

{% block content %}
<div class="about bg-white p-4 mh-100">
    <div class="container w-full mx-auto">
       <div class="row d-flex justify-content-center align-items-center">
          <div class="col-md-5">
             <div class="titlepage">
                <h2>About Us</h2>
                <p>Отель Четыреваго – ваш уютный уголок в сердце гор
                Расположенный в живописных горах, Отель Четыреваго – это место, где природа, комфорт и
                 гостеприимство объединяются, чтобы подарить вам незабываемый отдых. Наш отель находится вдали от суеты города,
                  окруженный чистым горным воздухом, густыми лесами и величественными вершинами</p>
                <h4>Уникальное расположение</h4>
                <p>"Четыреваго" идеально подходит как для тех, кто ищет уединения, так и для любителей активного отдыха.
                Горы, окружающие отель, предлагают невероятные возможности для пеших прогулок, 
                альпинизма и катания на горных лыжах. В теплые месяцы здесь открываются тропы для хайкинга, а зимой – трассы 
                для катания на лыжах и сноуборде.</p>
                <h4>Ресторан с локальной кухней</h4>
                <p>
                    Наш ресторан предлагает блюда, приготовленные из свежих местных продуктов. Шеф-повар 
                    с любовью создает уникальное меню, где традиционные горные рецепты сочетаются с современными кулинарными 
                    трендами. Мы также предлагаем блюда для вегетарианцев, веганов и тех, кто придерживается особых диет.
                </p>
                <h4>Почему выбирают нас</h4>
                <p>
                    "Четыреваго" – это не просто отель, это возможность почувствовать себя в гармонии с природой, не отказываясь
                     от комфорта. Мы создаем атмосферу, в которой каждый гость становится частью нашей большой и дружной семьи.
                     Добро пожаловать в Отель Четыреваго – место, где мечты становятся реальностью, а каждый день наполнен вдохновением и радостью!
                </p>
             </div>
          </div>
          <div class="col-md-7">
             <div class="about_img">
                <figure><img src="{% static 'image.jpeg' %}" alt="#"></figure>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock content %}
